.container-fluid{
    color: 0F0F0F;
    padding: 0;
}

.content-container{
    background-color: white;
    height: auto;
    width: 30em;
    margin: auto;
    margin-top: 7em;
    border-radius: 0.5em;
}

.back-button{
    width: 1.5em;
    height: 1.5em;
}

h2{
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.reset-padding{
    padding: 0;
}

@media screen and (max-width: 767px){
    .content-container{
        height: auto;
        width: 80%;
        margin: auto;
        margin-top: 4em;
    }
}

@media screen and (max-width: 567px){
    .content-container{
        width: 100%;
        border-radius: 0em;
    }
}